
<!--MUST ALWAYS PASS YEAR {year: value} to anything that includes this-->
<div class="footer-padding">
  <div class="footer">
    <a href="https://www.linkedin.com/in/logan-preston-032032101">LinkedIn</a>
    <a href="https://github.com/LoganPreston">github</a>
    <a href="/contact">Contact</a>
    <p class="name"><%=year%> Logan Preston</p>
  </div>
</div>
</body>
</html>