<%- include('partials/header')-%>
<div class="container">
  <h1>Hello!</h1>
  <h2>I'm Logan Preston, a freelance developer.</h2>
  <div class="textAndImageBlock">
      <p class="textBlock">
          I'm a developer with experience in M, C, Javascript, HTML, CSS, Java, and Python.
          I'm eager to help people bring projects to life, front end or back end.
      </p>
      <img src="" alt="" class="imgBlock">
  </div>
  <div class="textAndImageBlock">
      <img src="" alt="" class="imgBlock">
    <p class="textBlock">
        I'm a developer with experience in M, C, Javascript, HTML, CSS, Java, and Python.
        I'm eager to help people bring projects to life, front end or back end.
    </p>
</div>
</div>
<%- include('partials/footer')-%>
