<%- include('partials/header')-%>
<div class="container">
  <h1>Thank You!</h1>
  <h2>I will get in touch with you as soon as I can!</h2>
  <h3><a href="/">Back to Home</a></h3>
</div>
<%- include('partials/footer')-%>